<div class="container">
  <div>
    <a  [routerLink]="['/despesa/cadastro-despesa']" routerLinkActive="active" class="btn btn-success" name="cadastro_despesa">Registro de Gastos</a>
    <br/>
    <br/>
    <a   class="btn btn-success" name="receitas_mais_expressivos_mes" (click)="getDespesasMaisEpressivosDoMes()">Gastos mais expressivos do mês</a>
    <br/>
    <br/>
  </div>
  <div>
    <select class="form-control" [(ngModel)]="identificadorCompetencia" name="competencias">
        <option name="identificadorCompetencia" value="">--Selecione a Competencia--</option>
        <option  *ngFor="let competenca of competencias"  [value]="competenca.id">{{competenca.mes}}/{{competenca.ano}}</option>
    </select>
</div>

    <div class="row">

      <div class="">
        <table class="table table-success" name="tblClass">
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Valor</th>
          </tr>
          <tbody>
            <tr *ngFor="let despesa of filterDespesas">
                <td>{{despesa.nome}}</td>
                <td>{{despesa.descricao}}</td>
                <td>{{despesa.valor | currency:'BRL' : 'symbol':'0.1-2':'pt'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>
