<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a href="#" class="navbar-brand">Receita</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li>
          <a [routerLink]="['/receita']" class="nav-link">Receitas</a>
        </li>
        <li>
          <a [routerLink]="['/despesa']" class="nav-link">Despesa</a>
        </li>
        <li>
          <a [routerLink]="['/competencia']" class="nav-link">Competencia</a>
        </li>
    </ul>
  </div>
</nav>
